:root {
	--bg1: rgb(235,235,235);
	--bg2: rgb(215,215,215);
	--bg3: white;
	--border: silver;
	--text: rgb(40,40,40);
	--selected: lightgray ;
    --fail: hsl(6, 93%, 80%);
    --pass: hsl(112, 70%, 75%);
    --primary: dodgerblue;
    --secondary: aliceblue ;

	@media (prefers-color-scheme: dark) {
        --text: rgb(240,240,240);
        --bg1: rgb(20,20,20);
        --bg2: rgb(40,40,40);
        --bg3: rgb(60,60,60);
        --border: dimgray;
        --primary: none;
    }
}

html, body {
    background: var(--bg1);
    color: var(--text);
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: .1rem;
    height: 100%;
    margin: 0;
}

body *
{ box-sizing: border-box; }

article
{
	background-color: var(--bg2);
	flex: 1 0 400px;
	min-width: 400px;
	padding: 10px;
}

button,
input
{
	border: 1px solid var(--border);
	border-radius: 10px;
	font-size: 1rem;
	min-height: 35px;
    padding: .25rem;
}

button,
summary
{
	cursor: pointer;
    font-weight: bold;
}

button:hover,
summary:hover
{ box-shadow: 2px 2px 5px rgba(0,0,0,0.5); }

button:active,
summary:active
{ box-shadow: none; }

blockquote
{
	margin: 0 1rem;
}

details
{ margin: 0 10px; }

details > *
{
	background: var(--bg2);
	border-radius: 20px;
	margin: 1rem 0;
	padding: 1rem;
}

fieldset
{
	border: 1px solid var(--border);
	border-radius: 10px;
	display: inline-block;
}

fieldset label
{ display: block; }

fieldset > select,
fieldset > input
{ width: 100%; }

figure
{
	border-radius: 10px 10px 0 0;
	text-align: center;
}

figcaption
{
	align-items: stretch;
	border-radius: 0 0 10px 10px;
	display: flex;
}

figcaption > *
{
	flex: 1;
}

figcaption > button:first-child {
	border-radius: 0 0 0 10px;
}

figcaption > button:last-child {
	border-radius: 0 0 10px 0;
}

form#example
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

h2,
h3
{ margin: 1rem; }

input,
select
{
	border: 1px solid var(--border);
	border-radius: 5px;
	min-height: 35px;
	min-width: 35px;
}

label
{
	cursor: pointer;
	display: inline-block;
	margin: .5rem 0;
}

label[required]:after
{
	content: "*";
	color: var(--error);
	font-size: 1.25rem;
	font-weight: bold;
}

legend
{ font-weight:bold; }

li
{ margin-bottom: 1rem; }

option
{
	font-size: 1.2rem;
}

section
{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 10px;
	margin: 10px;
}

ul, ol
{
	margin: 1rem;
	padding: 1rem;
}

@layer settings {
	#settings
	{
		align-items: stretch;
		display: flex;
		gap: 10px;
		margin: 1rem;
	}

	#settings > *
	{ flex: 1; }
}

.success
{
	background-color: var(--pass);
	font-weight: bold;
}

.error
{
	background-color: var(--fail);
	font-weight: bold;
}
